body {
    --green: #168b8f;
    --text-secondary: #979ca0;
    --white: #ffffff;
    --securesearch-icon-fill: var(--green);
    --website-security-inspector-icon-fill: var(--green);
    --metadata-icon-fill: var(--green);
}

.main-content {
    flex: 1;
    margin-top: 45px;
    margin-bottom: 67px;
}

.main-content__title {
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}

.allow-access-section {
    margin-top: 35px;
}

.main-content__feature-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(302px, auto));
    justify-content: space-between;
    column-gap: 20px;
    row-gap: 45px;
    margin-top: 47px;
}

.feature-tile__icon {
    width: 28px;
    height: 30px;
}

.feature-tile__title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 16px;
}

.main-content__note {
    font-size: 12px;
    color: var(--text-secondary);
    margin-top: 60px;
}

.info-tile {
    position: absolute;
    top: 20px;
    __MSG_@@bidi_end_edge__: 20px;
    z-index: 1;
    max-width: 154px;
    /* min-height: 144px; */
    padding: 20px 23.5px 18px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 0px 5px 6px 0px #00000033;
}

.info-tile__icons-section {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    margin-bottom: 17px;
}

.info-tile__arrow-icon {
    width: 21px;
    height: 17px;
}

.info-tile__plugin-chrome {
    width: 25px;
    height: 25px;
}

.info-tile__plugin-firefox {
    width: 21px;
    height: 25px;
}

.info-tile__plugin-edge {
    width: 22px;
    height: 24.6px;
}

.info-tile__plugin-brave {
    width: 25px;
    height: 25px;
}

.info-tile__pin-chrome {
    width: 13.9px;
    height: 22.9px;
}

.info-tile__pin-firefox {
    width: 21.54px;
    height: 23.73px;
}

.info-tile__pin-edge {
    width: 25px;
    height: 25px;
}

.info-tile__message {
    font-size: 12px;
    text-align: center;
}

html[dir="rtl"] .info-tile__arrow-icon {
    rotate: 180deg;
}

@media screen and (max-width: 999px) {
    .main-content__note,
    .main-content__feature-tiles {
        margin-left: 32px;
        margin-right: 32px;
    }
}

@media screen and (max-width: 767px) {
    .main-content__feature-tiles {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 703px) {
    .main-content__feature-tiles {
        grid-template-columns: auto;
    }

    .main-content__note {
        text-align: center;
    }
}
