.loading-container {
	display: block;
	margin: 0;
	padding: 0;
	width: 400px;
	height: 550px;
	background-image: url("../assets/loading.png");
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
}

.main-container {
	display: none;
}

#tl {
	position: absolute;
	top: 41px;
	__MSG_@@bidi_start_edge__: 40px;
}

#bl {
	position: absolute;
	__MSG_@@bidi_start_edge__: 40px;
	top: 483px;
}
