:root {
	--bg-color:#fff;
	--header-text-color: #424d56;
	--message-text-color: #373C42;
	--green:#0096A1;
}

body {
	background-color:var(--bg-color);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
	margin: 0;
	padding: 15px;
	overflow: hidden;
	min-height: 300px;
}

.dark-mode {
	--bg-color: #1F2123;
	--header-text-color: #E8ECEE;
	--message-text-color: #E8ECEE;
	--green:#00c7d1;
}

p {
	margin: 0;
}

#header-content {
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.eset-notif-logo {
	margin-__MSG_@@bidi_end_edge__: 12px;
	width: 24px;
	height: 20px;
}

.x-close-icon {
	width: 14px;
	height: 14px;
}

#header-content p {
	font-weight: 600;
	color: var(--header-text-color);
	font-size: 16px;
}
.message-content {
	padding-top: 15px;
	padding-__MSG_@@bidi_end_edge__: 10px;
	padding-bottom: 20px;
	padding-__MSG_@@bidi_start_edge__: 34px;
}

.message-content p {
	color: var(--message-text-color);
}

#close-btn {
	margin-__MSG_@@bidi_start_edge__: 5px;
	cursor: pointer;
}

#header {
	display: flex;
}
