:root {
	--green: #168b8f;
	--light-green: #00c7d1;
	--light-grey: #999;
	--white: #ffffff;
	--dark: #232323;
	--light: #e8ecee;
	--light-bg: rgba(245, 246, 248, 0.9);
	--blue: #187daf;
	--securesearch-icon-fill: var(--light-grey);
	--securesearch-icon-stroke: var(--light-grey);
	--website-security-inspector-icon-fill: var(--light-grey);
	--metadata-icon-fill: var(--light-grey);
	--metadata-icon-stroke: var(--light-grey);
	--chevron-right-icon-stroke: #373c42;
	--overview-icon-fill: var(--light-grey);
	--setting-icon-fill: var(--light-grey);
	--help-icon-fill: var(--light-grey);
	--font-color: var(--dark);
	--bg-color: var(--light-bg);
	--btn-disabled-bg-color: #d4d4d4;
	--cleanup-border-color: #d7d7d7;
	--flex-font-header: 16px;
	--flex-font-text: 12px;
	--custom-input-margin: -23px;
	--hover-fill: #5a5a5a;
}

html {
	margin: 0;
	overflow: visible;
}

h3 {
	margin: 0;
}

body {
	width: 400px;
	height: 550px;
	margin: 0px;
	font-family: "Segoe UI", "Roboto", "Open Sans", Arial, sans-serif;
	font-weight: 100;
	background-color: var(--bg-color);
	overflow: visible;
	-ms-user-select: none;
	user-select: none;
	scrollbar-width: none;
}

h4 {
	margin-bottom: 5px;
}

hr {
	border: 1.5px solid rgba(72, 84, 92, 0.1);
}

header {
	padding: 15px 0px;
}

.dark-mode {
	color: #e8ecee !important;
	--white: #e8ecee;
	--green: #00c7d1;
	--blue: #4cafe1;
	--btn-disabled-bg-color: #393939;
	--cleanup-border-color: #474a4c;
	--font-color: #e8ecee;
	--bg-color: #232323;
	--hover-fill: #e9edf0;
}

.dark-mode .grid-item {
	background-color: #4d5156;
}

.dark-mode .row-item {
	background-color: #4d5156;
}

.dark-mode .custom-select {
	background-color: #4d5156;
	border: 1px solid #999999;
	color: #e8ecee;
}

.dark-mode .select-items {
	background-color: #353739;
	color: #e8ecee;
}

.dark-mode .menu-box {
	background-color: #363638;
}

.dark-mode .menu-item {
	color: #999999;
}

.dark-mode .fr-text {
	color: #e8ecee;
}

.logo {
	float: left;
	width: 268px;
	margin-left: 30px;
}

header h3 {
	font-size: 15px;
	font-weight: 400;
	color: #a2a2a2;
}

#popup-subheader {
	min-height: 70px;
	font-size: 13px;
	padding: 10px;
}

#popup-subheader-text {
	padding-top: 5px;
	overflow-wrap: break-word;
}
.subheader-title {
	font-size: 20px;
	font-weight: 600;
	margin: 5px 0;
}

#popup-subheader h3 {
	font-family: "Segoe UI";
	font-size: 20px;
	font-weight: 600;
}

.ok-banner {
	display: block;
}
.restart-banner {
	display: none;
}

.green-banner {
	display: block;
}

#ok-bg {
	background-image: url("../assets/ok_bg.svg");
}

#restart-bg {
	background-image: url("../assets/restart_bg.svg");
}

.banner-wrap {
	box-shadow: 0px 2px 7px #0000000a;
	height: 90px;
	opacity: 1;
	display: flex;
	align-items: center;
	justify-content: __MSG_@@bidi_start_edge__;
}

.banner-icon {
	padding: 0 15px;
}

#setting-link-icon {
	margin-left: 5px;
	display: inline;
}

.banner-title {
	font-family: "Segoe UI";
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0px;
	color: #ffffff;
	opacity: 1;
}

.align-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.sub-text {
	width: 100%;
}

.sub-text p {
	margin-top: 0;
}

.main-container {
	display: block;
	height: 80%;
	padding: 0px 15px;
}

.main-content {
	display: block;
	position: relative;
}

#main-section {
	position: relative;
	font-size: 13px;
	padding: 0 10px;
	max-height: 340px;
}
.alert-section {
	position: relative;
	height: 100%;
	padding: 50px;
}

.alert-img-section {
	display: flex;
	flex-direction: column;
	height: 35%;
	justify-content: center;
	align-items: center;
	margin-bottom: 12px;
}

#alert-links-section {
	flex-direction: column;
	justify-content: center;
	display: flex;
	flex-direction: column;
	height: 40%;
	text-align: center;
}
.alert-link {
	padding: 5px 0;
}

.alert-link a {
	font-size: 14px;
	font-weight: 600;
}

.alert-header-section {
	text-align: center;
	margin-bottom: 39px;
}

.alert-header-section p {
	font-size: 24px;
	font-weight: 600;
	margin: 0;
}

#popup-content-text {
	padding: 30px 0;
	font-size: 13px;
}

footer {
	background-color: #e9ebef;
	margin: 0px -10px -10px -10px;
}

.hdr-flex {
	width: 100%;
	height: 32px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.hdr-left {
	width: 40%;
}

.hdr-right {
	width: 60%;
}

.ftr-flex {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.ftr-flex div {
	padding-top: 5px;
}

.active {
	filter: invert(41%) sepia(97%) saturate(377%) hue-rotate(133deg) brightness(71%) contrast(92%);
}

.ftr-left {
	width: 30%;
	display: flex;
	padding-top: 5px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.ftr-middle {
	width: 30%;
	display: flex;
	padding-top: 5px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.ftr-right {
	width: 30%;
	display: flex;
	padding-top: 5px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-row {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.box-center {
	display: flex;
	height: 100%;
	justify-content: end;
	align-items: center;
	padding: 8px 0;
}

#optionsForm {
	height: 70%;
}

.text-center {
	text-align: center;
}

.text-center p {
	font-size: 13px;
    font-weight: 400;
    line-height: 17.29px;
    color: #626262;
	margin: 0px;
}

.multi-paragraph {
	gap: 25px;
    display: flex;
    flex-direction: column;
}

.fl {
	float: __MSG_@@bidi_start_edge__;
	width: 90%;
}

.fr {
	float: __MSG_@@bidi_start_edge__;
	width: 10%;
}

.fl-icon {
	float: __MSG_@@bidi_start_edge__;
	height: 30px;
	display: flex;
	align-items: center;
}

.fr-btn {
	margin-__MSG_@@bidi_start_edge__: auto;
}

.fr-icon {
	margin-__MSG_@@bidi_start_edge__: auto;
}

#metadata-btn {
	display: block;
}

#metadata-icon {
	display: none;
}

#secureSearch-btn {
	display: block;
}
.fr-icon {
	display: flex;
	width: 20%;
	justify-content: center;
	align-items: center;
}

.fr-heading {
	height: 100%;
}

.fr-heading-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 10px;
}

.feature-heading-section {
	display: flex;
	flex-direction: row;
	padding-bottom: 10px;
}

.fr-heading-text,
.fr-text {
	position: absolute;
}

.fr-heading-text {
	display: flex;
	align-items: center;
	font-size: var(--flex-font-header);
	font-weight: 600;
	box-sizing: border-box;
	width: calc(100% - 30px);
	height: calc(100% - 70px);
	overflow: hidden;
	text-overflow: ellipsis;
}

.website-setting-header {
	padding-top: 0;
}
.fr-text {
	display: flex;
	align-items: center;
	font-size: var(--flex-font-text);
	font-weight: 400;
	transform: translateY(20%);
	opacity: 0;
	box-sizing: border-box;
	width: calc(100% - 30px);
	height: calc(100% - 70px);
	overflow: hidden;
	text-overflow: ellipsis;
}

.grid-item {
	padding: 15px;
	background-color: #fff;
	cursor: pointer;
	border-radius: 5px;
	position: relative;
}

.rows-2-grid {
	height: 66px;
	margin-bottom: 10px;
}

.row-heading-text {
	font-size: 16px;
	font-weight: 600;
	padding: 0 10px;
}
.row-text {
	font-size: 14px;
	padding: 0 10px 10px 10px;
}

.hide-on-hover {
	opacity: 0;
	pointer-events: none;
}

.show-on-hover {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 0.5s ease-in-out, transform 0.5s;
}


#features-section-ultimate {
	/* display: grid; */
	display: none;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 115px);
	gap: 10px;
	opacity: 1;
	margin: 15px 0;
}

#features-section-default {
	display: none;
	/* display: flex; */
	flex-direction: column;
	opacity: 1;
	margin: 15px 0;
}

#notications-header {
	padding: 0 15px;
	background-color: #187daf;
}

.alert-btn {
	width: 100%;
	color: white;
	background: #187daf;
	padding: 8px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50px;
	transition: transform 200ms, box-shadow 200ms;
}
.alert-btn:active {
	background-color: #7f98a4;
	transform: translateY(1px);
}

#clean-btn {
	width: 100%;
	padding: 11px 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 50px;
	transition: transform 200ms, box-shadow 200ms;
}

.btn-text {
	font-family: "Segoe UI";
	line-height: 18.62px;
	font-size: 14px;
	font-weight: 600;
	color: var(--white);
}

.cleanup-btn:hover {
	background-color: #125d82;
}

.cleanup-btn {
	background-color: #187daf;
}

.cleanup-btn-active {
	background-color: #125d82;
}

.cleanup-btn-disabled {
	/* background-color: #d4d4d4; */
	background-color: var(--btn-disabled-bg-color);
	opacity: 0.5;
	pointer-events: none;
}

.btn-text-disabled {
	color: #827f7f !important;
}

.setup-btn {
	border: 1px solid #dcdcdc;
	border-radius: 15px;
	text-decoration: none;
	font-size: 11px;
	line-height: 15px;
	padding: 2px 7px;
	background-color: inherit;
	font-weight: 700;
	color: var(--green);
	font-family: "Segoe UI";
	cursor: pointer;
}

#form-text {
	margin-left: 20%;
	padding: 2px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 16px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(117, 117, 117, 1);
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

input:checked + .slider {
	background-color: #659d15;
}

input:checked + .slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 17px;
}

.slider.round:before {
	border-radius: 50%;
}

/*** Custom Select Box ***/
.custom-select {
	position: relative;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 14px;
	font-weight: bolder;
	border: 1px solid #d4d4d4;
	border-radius: 50px;
	opacity: 1;
	background-color: white;
}

.custom-select select {
	display: none;
}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 12px;
	__MSG_@@bidi_end_edge__: 14px;
	width: 0;
	height: 0;
	border: solid var(--font-color);
	border-width: 0 1px 1px 0;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 16px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	padding: 8px 16px;
	border: 1px solid transparent;
	cursor: pointer;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: #fff;
	color: #757575;
	font-weight: normal;

	margin-top: 5px;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	/* border: 1px solid #adafb2; */
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 17px;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 50px;
}

.dark-mode .select-items div:hover,
.dark-mode .same-as-selected {
	background-color: #6d7075;
}

.custom-select {
	color: #757575;
}

legend {
	margin: 5px 0;
	font-size: 12px;
	font-weight: 400;
}

.select-box-align {
	display: flex;
	align-items: center;
	justify-content: center;
}

.input-checkbox-text {
	font-size: 12px;
	padding-bottom: 5px;
}

.form-section {
	padding: 9px 0;
}

.form-title {
	margin-bottom: 5px;
	font-size: 12px;
}
.custom-input {
	flex: 1;
	margin-right: 5px;
	overflow-y: scroll;
	margin-bottom: var(--custom-input-margin);
}
.custom-input-data {
	display: none;
	margin-top: 25px;
}

.wrapper {
	overflow-y: auto;
}

/**  Custom Scrollbar styles */
.custom-scrollbar::-webkit-scrollbar {
	width: 4px;
	background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: rgba(55, 60, 66, 0.3);
}

.custom-scrollbar::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #eee;
	box-shadow: 0 0 0 0 #bbb, inset 0 0 7px rgba(0, 0, 0, 0.1);
}

.custom-scrollbar {
	scrollbar-width: thin; /* Firefox specific */
	scrollbar-color: #eee;
}

.checkbox-row {
	padding: 0px 0px 8px 0px;
}

.clean-btn-div {
	display: none;
}

.btn-section {
	position: absolute;
	bottom: 25px;
	left: 25px;
	right: 25px;
}

/* Side Bar Navigation */
#menu-toggle {
	opacity: 0;
}

#toggle-icon {
	padding: 8px;
}

#back-arrow {
	padding: 8px;
}

.list-container {
	margin: 0;
	padding: 20px 10px;
	list-style: none;
	height: 330px;
}
#menu-links {
	padding: 20px;
	list-style-type: none;
}

#menu-links li {
	padding: 7px 0;
	font-size: 10px;
}

#menu-links li a {
	text-decoration: none;
	color: var(--blue);
	font-weight: 400;
}
.menu-box {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	margin: 0;
	padding: 0px;
	background-color: #ffffff;
	box-shadow: 3px 0px 7px #0000001a;
	transition-duration: 0.15s;
	overflow: hidden;
	z-index: 2;
}

.menu-item {
	display: flex;
	flex-direction: row;
	padding: 5px 10px;
	margin: 10px 0;
	color: #373c42;
	background-color: transparent;
	transition: background-color 0.3s ease;
	text-decoration: none;
}

.menu-item:hover {
	background-color: rgba(153, 153, 153, 0.1);
	border-radius: 4px;
	cursor: pointer;
}

.menu-item:hover svg {
	--overview-icon-fill: var(--hover-fill);
	--setting-icon-fill: var(--hover-fill);
	--help-icon-fill: var(--hover-fill);
}

.menu-item-active svg {
	--overview-icon-fill: var(--green);
	--setting-icon-fill: var(--green);
	--help-icon-fill: var(--green);
}

.menu-item-active .menu-text {
	color: var(--green);
}

.menu-item-active {
	border-radius: 4px;
	background-color: rgba(22, 139, 143, 0.1);
	pointer-events: none;
}

.dark-mode .item-hovered {
	background-color: #383b3f;
	color: rgba(232, 236, 238, 0.7);
}

#sidebar-menu {
	display: flex;
	flex-direction: row;
	padding: 20px 20px;
	color: #333;
	text-decoration: none;
}

#sidebar-icon {
	display: block;
	position: relative;
	padding: 5px;
	cursor: pointer;
}

.header-icon {
	display: block;
	position: relative;
	top: 2px;
	width: 35px;
	cursor: pointer;
}

.menu-footer {
	bottom: 0;
	position: absolute;
	padding: 20px 20px;
	display: inherit;
}

.menu-icon {
	padding: 5px;
	display: flex;
	align-items: center;
	width: 20px;
}

.menu-text {
	font-family: "Segoe UI", "Roboto", sans-serif;
	font-size: 14px;
	font-weight: 400;
	padding: 10px;
}

#form-content {
	display: block;
}

#form-ar-content {
	display: none;
	width: 100%;
	flex-direction: column;
	max-height: 298px;
	gap: 10px;
}

.ar-switch-title {
	font-size: 14px;
	font-weight: 600;
	color: #373c42;
}

.dark-mode .ar-switch-title {
	color: #e8ecee;
}

.ar-status_text {
	font-size: 13px;
	font-weight: 400;
	margin: 0 0 16px 0;
	color: #626262;
}

.dark-mode .ar-status_text {
	color: #e8ecee;
}

.ar-settings-link {
	font-size: 13px;
	font-weight: 600;
	color: #187daf;
	cursor: pointer;
}

.dark-mode .ar-settings-link {
	color: #2792c6;
}

#form-otr-content {
	max-height: 298px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

#left-tab {
	float: left;
	width: 45%;
	border-bottom: 2px solid var(--green);
	cursor: pointer;
}

#right-tab {
	float: right;
	width: 45%;
	cursor: pointer;
}

input[type="checkbox"],
input[type="checkbox"] + label {
	cursor: pointer;
}

input[type="checkbox"]:checked {
	background-color: green;
}

#tab-menu {
	display: block;
	min-height: 26px;
	border-bottom: 1px solid var(--cleanup-border-color);
}

#tab-menu p {
	font-weight: 400;
	font-size: 12px;
	margin: 5px 0;
}

#tab-menu:after {
	content: " ";
	display: block;
	clear: both;
}

.active-tab {
	color: #168b8f;
}

.disabled {
	color: rgb(170, 170, 170);
	opacity: 0.7;
	border-color: rgba(118, 118, 118, 0.3);
}


html[dir="rtl"] .slider:before {
	left: auto;
	right: 2px;
}

html[dir="rtl"] input:checked + .slider:before {
	-webkit-transform: translateX(-18px);
	-ms-transform: translateX(-18px);
	transform: translateX(-18px);
}

.online-help-link,
.supported-browsers-link,
.link-text {
	font-weight: 600;
	color: #187daf;
	cursor: pointer;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

.data-btn {
	border: 1px solid #b1b1b1;
	border-radius: 15px;
	font-family: "Segoe UI";

	background-color: var(--white);
	text-decoration: none;
	font-size: 14px;
	line-height: 19px;
	padding: 5px 15px;
	font-weight: 400;
	color: #757575;
	margin-right: 10px;
}

.dark-mode .data-btn {
	background-color: #474a4c;
	color: #a6a6a6 !important;
	border: 1px solid #999999;
}

.data-btn:hover {
	background-color: var(--btn-disabled-bg-color);
}

.data-btn-active {
	background-color: rgba(0, 142, 160, 0.1);
	border-color: #008ea0;
}

.dark-mode .data-btn-active {
	background-color: rgba(0, 199, 209, 0.1);
	border-color: #008ea0;
	color: var(--light);
}

.flex-center {
	display: flex;
	justify-content: center;
}

#custom-btn-icon {
	margin-left: 5px;
}

.data-btn-section {
	padding: 5px 0;
}

#data-description-section {
	overflow: hidden;
	display: none;
	padding: 8px 0;
}

.data-description-icon {
	float: __MSG_@@bidi_start_edge__;
}

.data-description-text {
	float: __MSG_@@bidi_end_edge__;
	text-align: __MSG_@@bidi_start_edge__;
	width: 93%;
	font-size: var(--flex-font-text);
}
.data-description-text p {
	margin: 0;
}

.data-btn-active {
	background-color: rgba(0, 142, 160, 0.1);
	border-color: #008ea0;
}

#metadata-tooltip {
	display: none;
	/* display: flex; */
	align-items: center;
}
#metadata-tooltip p {
	font-size: 12px;
	margin: 0;
}

#metadata-tooltip img {
	float: __MSG_@@bidi_start_edge__;
	margin-right: 5px;
}

#search-slider,
#exif-slider,
#notif-slider,
#scan-slider {
	display: none;
}

.secure-search-icon,
.browser-cleanup-icon,
.website-security-inspector-icon,
.metadata-cleanup-icon,
.website-setting-icon {
	width: 28px;
	height: inherit;
	transition: width 0.3s, height 0.3s;
}

html[dir="rtl"] .browser-cleanup-icon,
html[dir="rtl"] .website-security-inspector-icon,
html[dir="rtl"] .website-setting-external-icon {
  transform: scaleX(-1);
}

html[dir="rtl"] .chevron-right-icon {
  transform: scaleX(-1);
}

html[dir="rtl"] .website-setting-icon {
  transform: scaleX(-1);
}

html[dir="rtl"] .menu-help-icon {
  transform: scaleX(-1);
}

html[dir="rtl"] .browser-cleanup-icon.icon-hovered,
html[dir="rtl"] .website-security-inspector-icon.icon-hovered,
html[dir="rtl"] .website-setting-icon.icon-hovered{
	transform: scaleX(-1) scale(0.85);
	transition: transform 0.3s ease;
}

.hamburger-menu-icon {
	width: 15px;
	height: 12px;
	fill: none;
}

.website-setting-external-icon {
	width: 11px;
	height: 11px;
	fill: none;
}

.menu-close-icon {
	width: 13px;
	height: 13px;
	fill: none;
}

.chevron-right-icon {
	width: 8px;
	height: 14px;
	fill: none;
	stroke: #373c42;
}

.dark-mode .chevron-right-icon {
	stroke: #e8ecee;
}

.overview-setting-icon {
	width: 17px;
	height: 17px;
	fill: none;
}
.menu-setting-icon {
	width: 22px;
	height: 23px;
	fill: none;
}
.menu-help-icon {
	width: 21px;
	height: 21px;
	fill: none;
}

.icon-hovered {
	transform: scale(0.85);
	transition: transform 0.3s ease;
}

.search-icon-active {
	--securesearch-icon-fill: var(--green);
	--securesearch-icon-stroke: var(--green);
}

.website-security-inspector-active {
	--website-security-inspector-icon-fill: var(--green);
}

.metadata-icon-active {
	--metadata-icon-fill: var(--green);
	--metadata-icon-stroke: var(--green);
}

.overview-icon-active {
	--overview-icon-stroke: var(--green);
}

.feature-activation-section {
	align-items: center;
	gap: 32px;
}

.rotating-circle {
	width: 18px;
	height: 18px;
	border: 2px solid;
	border-radius: 50%;
	border-color: transparent #7a7a7a #7a7a7a #7a7a7a;
	animation: rotate 0.7s linear infinite;
	display: none;
	margin-__MSG_@@bidi_end_edge__: 0.5em;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate-reverse {
  from {
    transform: rotate(1turn); 
  }
  to {
    transform: rotate(0turn); 
  }
}